nav {
  border-bottom: 1px solid #002b36;
}

.icon-bar {
  width: 90px;
  /* Set a specific width */
  background-color: #555;
  /* Dark-grey background */
}

.icon-bar {
  width: 100%;
  /* Full-width */
  background-color: #555;
  /* Dark-grey background */
  overflow: auto;
  /* Overflow due to float */
}

.icon-bar a {
  float: left;
  /* Float links side by side */
  text-align: center;
  /* Center-align text */
  width: 33%;
  /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0;
  /* Some top and bottom padding */
  transition: all 0.3s ease;
  /* Add transition for hover effects */
  color: white;
  /* White text color */
  font-size: 20px;
  /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000;
  /* Add a hover color */
}

.active {
  background-color: #04AA6D;
  /* Add an active/current color */
}

.toc {
  color: #2aa198;
  font-size: 15px;
}

.header {
  color: white;
  padding: 20px;
  font-size: 20px;
  color: #657b83;
}

.small-image {
  width: 40%;
  height: auto;
}

.container {
  display: flex;
  flex-flow: column wrap;
  background-color: #fdf6e3;
  line-height: 1.5;
  border: 2px;
  border-style: solid;
  border-color: #002b36;
}

.container1 {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
}

.container2 {
  background-color: #eee8d5;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  color: #268bd2;
}

.code {
  background-color: #eee8d5;
  margin: 2px;
  padding: 2px;
  font-size: 15px;
  color: #268bd2;
}